<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Payment
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
				<tr> 
					<th width="25%">Wifi Name</th> 
					<th width="25%">Owner</th>
					<th width="25%">Total Earning</th> 		 
					<th width="25%">No of connections</th> 
				</tr> 
			</thead> 
			<tbody> 
				<% @wifi.each do |wifi| %>
					<% if wifi.lender.present? %>
						<% use = wifi.lender.name %>
					<% else %>
						<% use = 'Name Missing' %>
					<% end %>

					<% earn = 0  %>
					<% wifi.connections.each do |conn| %>
						<% earn = earn + conn.total_bill %>
					<% end %>
				<tr>
					<td><%= wifi.name %></td>
					<td><%= use %></td>
					<td><%= (earn/1000).round(2) %> K</td>
					<td><%= wifi.connections.count %></td>
				</tr>
				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>