<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Withdraw Pending
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
				<tr> 
					<th>Time</th>
					<th>Amount</th>
					<th>Lender</th>
					<th>Transfer</th>
				</tr> 
			</thead> 
			<tbody> 
				<% @withdraw.each do |withdraw| %>
					
					<tr>
						<td><%= withdraw.created_at.strftime('%I:%M%p %d/%m/%Y') %></td>
						<td><%= withdraw.amount %></td>
						<td><%= withdraw.lender.present? ? withdraw.lender.email : 'Lender'%></td>
						<td><%= link_to('Transfered' , mark_withdraw_pending_path(withdraw.id) , class: 'btn btn-danger') %></td>
					</tr>
				<% end %>						
			</tbody>  
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>